---
import type { MajorRelease } from "../data/release-types";
import { createMajorReleaseId } from "../data/release-utils";
import MinorReleaseItem from "./MinorReleaseItem.astro";

type Props = {
  release: MajorRelease;
};

const { release } = Astro.props;
const sectionId = createMajorReleaseId(release.version);
---

<section class="major-release" id={sectionId} data-major-section={sectionId} aria-labelledby={`${sectionId}-title`}>
  <div class="major-release__header">
    <div>
      <p class="major-release__eyebrow">Major line</p>
      <h2 id={`${sectionId}-title`}>
        <span>{release.version}</span>
        {release.name}
      </h2>
    </div>
    <time datetime={release.releasedAt}>{release.releasedAt}</time>
  </div>

  <p class="major-release__summary">{release.summary}</p>

  <ul class="major-release__highlights">
    {release.highlights.map((highlight) => <li>{highlight}</li>)}
  </ul>

  <div class="major-release__list" aria-label={`${release.version} official releases`}>
    {release.releases.map((minorRelease) => <MinorReleaseItem release={minorRelease} />)}
  </div>
</section>
