---
import type { MinorRelease } from "../data/release-types";

type Props = {
  release: MinorRelease;
};

const { release } = Astro.props;
---

<article class="release">
  <div class="release__aside">
    <time class="release__date" datetime={release.releasedAt}>{release.releasedAt}</time>
  </div>
  <div class="release__main">
    <div class="release__head">
      <h3 class="release__version">{release.version}</h3>
      <span class={`release-label release-label--${release.label}`}>{release.label}</span>
    </div>
    <p class="release__summary">{release.summary}</p>
    <ul class="release__changes">
      {release.changes.map((change) => <li>{change}</li>)}
    </ul>
  </div>
</article>
